@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #d5e2ce;
  --color-secondary: #022f23;
}

*{
  /* outline: blue solid 1px; */
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #01120e;
  overflow-x: hidden;
  --sb-track-color: #232E33;
  --sb-thumb-color: #d5e2ce;
  --sb-size: 3px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 23px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 23px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.navButton{
  display: flex;
  gap: 1.5rem;
}

.nav__item {
  color: white;
  font-size: 1.1rem;
}

.nav__item a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
}

.nav__item a:hover {
  color:#d5e2ce;
}

.nav__item a:hover::after {
  width: 100%;
}

.nav__item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5e2ce;
  transition: width 0.3s ease;
}

/* HERO */
.hero {
  padding: 20px 0;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/herogradient.svg');
  background-size: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.heroImageContainer {
  animation: slideUp 0.9s ease-out forwards;
}

.heroImage {
  width: 700px;
  height: 800px;
}

.heroContent {
  width: 700px;
  z-index: 2; /* Places content above the image in mobile view */
}

.hero h1 {
  color: #d5e2ce;
  font-size: 4rem;
  font-weight: 600;
}

.hero .heroProfile {
  text-wrap: nowrap;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.heroText {
  animation: slideUp 0.5s ease-out forwards;
}

.heroDescription {
  animation: slideLeft 0.8s ease-out forwards;
}

.hero .heroButtons .btn {
  padding: 1em 2em;
  margin: 0.3em;
  border-radius: 5em;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: #d5e2ce;
  background-color: #022f23;
  border: none;
  transition: all 0.2s ease-in-out;
  animation: slideUp 0.9s ease-out forwards;
}

.hero .heroButtons .btn:hover {
  background-color: #d5e2ce;
  color: #23424A;
  padding: 0.9em 2em;
  border: 2px solid #d5e2ce;
}

.hero hr {
  height: 5px;
  background-color: #d5e2ce;
  border: none;
  margin: 1em 0;
}

.hero .heroDescription {
  width: 550px;
  color: #d5e2ce;
  text-wrap: wrap;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1em;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1400px) {
  .heroImage {
    width: 600px;
    height: 700px;
  }
  
  .heroContent {
    width: 600px;
  }
  
  .hero .heroDescription {
    width: 500px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .heroImage {
    width: 500px;
    height: 600px;
  }
  
  .heroContent {
    width: 500px;
  }
  
  .hero h1 {
    font-size: 3.5rem;
  }
  
  .hero .heroDescription {
    width: 450px;
    font-size: 1.6rem;
  }
  
  .hero .heroButtons .btn {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .heroImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
  }

  .nav__item a::after {
    display: none;
  }

  .heroImage {
    width: 900px;
    height: 900px;
    object-fit: cover;
  
    top: 60px;
    border-radius: 50%;
      -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  }
  
  .heroContent {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 400px;
  }
  
  .hero .heroDescription {
    width: 100%;
    font-size: 1.5rem;
    margin: 1em auto;
  }
  
  .hero .heroButtons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .hero .heroDescription {
    font-size: 1.2rem;
  }
  
  .nav__item a{
    font-size: 1.5rem;
  }
  
  .hero .heroButtons .btn {
    padding: 0.8em 1.5em;
    font-size: 1rem;
    margin: 0.2em;
  }
  
  .hero .heroButtons .btn:hover {
    padding: 0.7em 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 2rem;
  }
  
  .hero .heroProfile {
    text-wrap: wrap;
  }
  
  .hero .heroButtons {
    flex-direction: column;
  }
  
  .hero .heroButtons .btn {
    width: 100%;
    margin: 0.2em 0;
  }
}
/* HERO */

/* ABOUT */

.about {
  padding: 20px 0;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/aboutmegradient.svg');
  background-size: 3100px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.aboutImage {
  width: 700px;
  height: 800px;
  object-fit: cover; 
}

.about h1 {
  color: #d5e2ce;
  font-size: 5rem;
  font-weight: 600;
}

.about .aboutProfile {
  text-wrap: nowrap;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.aboutText {
  text-align: right;
  width: 600px;
  animation: slideUp 0.5s ease-out forwards;
}

.aboutText h1 {
  font-size: 7rem;
}

.aboutImageContainer {
  animation: slideUp 0.9s ease-out forwards;
}

.aboutDescription {
  font-weight: 600;
  animation: slideLeft 0.8s ease-out forwards;
}

.about .aboutButtons .btn {
  padding: 1em 2em;
  margin: 0.3em;
  border-radius: 5em;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: #d5e2ce;
  background-color: #022f23;
  border: none;
  transition: all 0.2s ease-in-out;
  animation: slideUp 0.9s ease-out forwards;
}

.about .aboutButtons .btn:hover {
  background-color: #d5e2ce;
  color: #23424A;
  padding: 0.9em 2em;
  border: 2px solid #d5e2ce;
}

.about hr {
  height: 5px;
  background-color: #d5e2ce;
  border: none;
  margin: 1em 0;
}

.about .aboutDescription {
  width: 550px;
  color: #d5e2ce;
  text-align: right;
  text-wrap: wrap;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1em;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1400px) {
  .aboutImage {
    width: 600px;
    height: 700px;
  }
  
  .aboutText {
    width: 550px;
  }
  
  .aboutText h1 {
    font-size: 6.5rem;
  }
  
  .about .aboutDescription {
    width: 500px;
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 1200px) {
  .aboutImage {
    width: 500px;
    height: 600px;
  }
  
  .aboutText {
    width: 500px;
  }
  
  .aboutText h1 {
    font-size: 6rem;
  }
  
  .about h1 {
    font-size: 5rem;
  }
  
  .about .aboutDescription {
    width: 450px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 992px) {
  
  .aboutTextContainer {
    width: 100%;
    margin-top: 500px;
    position: relative;
    z-index: 2;
  }
  
  .aboutText {
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px;
    position: relative;
  }
  
  /* Create a pseudo-element for the dark overlay */
  .aboutText::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .aboutImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
  }

  .aboutImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    /* Gradient mask for black-to-transparent effect */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 70%);
}
  
  .aboutText h1 {
    font-size: 6rem;
  }
  
  .about .aboutDescription {
    width: 100%;
    font-size: 1.5rem;
    margin: 1em auto;
    text-align: center;
  }
}
