@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  margin: 0;
  /* outline: blue solid 1px; */
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #01120e;
  overflow: hidden;
}

.container{
  height: 100vh;
}


header {
  width: 100%;
  position: fixed;
  top: 0;  /* Positions it at the very top */
  left: 0; /* Aligns it to the left */
  z-index: 1000; /* Ensures it stays above other elements */
  padding: 0.5rem;
  border-bottom: 1px solid #23424A;
  background-color: #01120e;
}

.nav {
  width: 80%;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1em 0;
  font-size: .875em;
}

.navButton{
  display: flex;
  gap: 1.5rem;
}

.nav__item {
  color: white;
  font-size: 1.1rem;
}

.nav__item a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
}

.nav__item a:hover {
  color:#d5e2ce;
}

.nav__item a:hover::after {
  width: 100%;
}

.nav__item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5e2ce;
  transition: width 0.3s ease;
}

.nav__item--main {
  padding: 1em 2em;
  background-color: whitesmoke;
  color: #23424A;
  font-weight: bold;
  border-radius: 5em;
  margin-right: 0px;
}

/* HERO */
.hero {
  padding: 20px 0;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/gradientshape.svg');
  background-size: 1300px;
  background-position: center;
  background-repeat: no-repeat;
}

.heroImage {
  width: 700px;
  height: 800px;
  object-fit: cover; 
  object-position: 11% 0;
}

.hero h1{
  color: #d5e2ce;
  font-size: 5rem;
  font-weight: 600;
}

.hero .heroProfile{
  text-wrap: nowrap;
}

@keyframes slideUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideLeft {
  from {
      transform: translateX(-50px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.heroText {
  animation: slideUp 0.5s ease-out forwards;
}

.heroImageContainer {
  animation: slideUp 0.9s ease-out forwards;
}

.heroDescription {
  animation: slideLeft 0.8s ease-out forwards;
}

.hero .heroButtons .btn{
  padding: 1em 2em;
  margin: 0.3em;
  border-radius: 5em;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: #d5e2ce;
  background-color: #022f23;
  border: none;
  transition: all 0.2s ease-in-out;
  animation: slideUp 0.9s ease-out forwards;
}

.hero .heroButtons .btn:hover{
  background-color: #d5e2ce;
  color: #23424A;
  padding: 0.9em 2em;
  border: 2px solid #d5e2ce;
}

.hero hr{
  height: 5px;
  background-color: #d5e2ce;
  border: none;
  margin: 1em 0;
}


.hero .heroDescription{
  width: 550px;
  color: #d5e2ce;
  text-wrap: wrap;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1em;
}


/* ABOUT */

/* HERO */
.about {
  padding: 20px 0;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/gradienabout1.svg');
  background-size: 3100px;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutImage {
  width: 670px;
  height: 1300px;
  object-fit: cover; 
  object-position: 80% 0;
}

.about h1{
  color: #d5e2ce;
  font-size: 5rem;
  font-weight: 600;
}

.about .aboutProfile{
  text-wrap: nowrap;
}

@keyframes slideUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideLeft {
  from {
      transform: translateX(-50px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}


.aboutText {
  text-align: right;
  width: 800px;
  animation: slideUp 0.5s ease-out forwards;
}

.aboutText h1{
  font-size: 7rem;
}

.aboutImageContainer {
  animation: slideUp 0.9s ease-out forwards;
}

.aboutDescription {
  font-weight: 600;
  animation: slideLeft 0.8s ease-out forwards;
}

.about .aboutButtons .btn{
  padding: 1em 2em;
  margin: 0.3em;
  border-radius: 5em;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: #d5e2ce;
  background-color: #022f23;
  border: none;
  transition: all 0.2s ease-in-out;
  animation: slideUp 0.9s ease-out forwards;
}

.about .aboutButtons .btn:hover{
  background-color: #d5e2ce;
  color: #23424A;
  padding: 0.9em 2em;
  border: 2px solid #d5e2ce;
}

.about hr{
  height: 5px;
  background-color: #d5e2ce;
  border: none;
  margin: 1em 0;
}


.about .aboutDescription{
  width: 550px;
  color: #d5e2ce;
  text-align: right;
  text-wrap: wrap;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1em;
}